################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GrokkingAlgorithms/.vs/GrokkingAlgorithms
/GrokkingAlgorithms/obj
/GrokkingAlgorithms/bin/Debug/net6.0
